<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2>{{image.title}}</h2>
        <button class="btn btn-danger" id="btn-delete" data-id="{{image.uniqueId}}">
            Eliminar <i class="fas fa-times"></i> 
        </button>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img src="/public/upload/{{image.filename}}" alt="images" class="img-fluid">
            <h5 class="text-center">{{image.description}}</h5>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <button class="btn btn-success" id="btn-like" data-id="{{image.filename}}">
            <i class="fas fa-thumbs-up"></i>Me gusta
        </button>
        <p>
            <span class="like-count">{{image.likes}}</span>
            <i class="fas fa-heart"></i>
        </p>
        <p>
            <i class="fas fa-eye"></i>{{image.views}}
        </p>        
        <p>
            <i class="far fa-clock"></i>
            {{timeAgo image.timestamp}}
        </p>

    </div>
</div>