<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="far fa-image"></i>Subir imágen
        </h3>
    </div>
    <div class="card-body">
        <form action="/images" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroup" aria-describedby="inputGroupFileAddon" required autocomplete="off">
                        <label class="custom-file-label" for="inputGroupFile">Elige tu archivo</label>
                    </div>
                </div>
                <small id="inputGroupFileAddon" class="form-text text-muted">Tu archivo solo se permite con extensión png,jpg,jpeg,gif.</small>
            </div>
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Título para la imágen" required autocomplete="off">
            </div>
            <div class="form-group">
                <textarea name="description" rows="4" class="form-control" placeholder="Descripción para la imágen" required autocomplete="off"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success">
                    <i class="fa fa-upload"></i> Subir
                </button>
            </div>
        </form>
    </div>        
</div>

<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h3> <i class="far fa-images"></i> Subidas recientemente</h3>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each images}}
                <div class="col-md-4">
                    <a href="/images/{{uniqueId}}">
                        <img src="../public/upload/{{filename}}" alt="images" class="w-100 h-100 img-thumbnail">
                    </a>
                </div>  
            {{/each}}
        </div>
    </div>
</div>
 